<?xml version="1.0"?>
<launch>
    <arg name="with_gazebo" default="true"/>
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="world_name" default="$(find jackal_gazebo)/worlds/jackal_race.world" />
    <arg name="use_teleop" default="true"/>
    <arg name="config_filepath" default="$(find jackal_interface)/config/ds4.yaml"/>
    <arg name="use_rviz" default="true"/>

    <node pkg="jackal_interface" type="jackal_interface_node" name="jackal_interface_node" output="log" respawn="false" respawn_delay="0">
    </node>


    <param name="robot_description" command="$(find xacro)/xacro $(find jackal_interface)/xacro/jackal_autoware.xacro --inorder" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <rosparam command="load" file="$(find jackal_control)/config/control.yaml" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" args="jackal_joint_publisher jackal_velocity_controller --shutdown-timeout 1" />

    <group if="$(arg use_teleop)">
        <rosparam command="load" file="$(arg config_filepath)"/>

        <node pkg="joy" type="joy_node" name="joy_node" output="log" respawn="false" respawn_delay="0">
        </node>

        <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node" output="log" respawn="false" respawn_delay="0">
            <remap from="/cmd_vel" to="/jackal_velocity_controller/cmd_vel"/>
        </node>
    </group>

    <group if="$(arg use_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-D $(find jackal_interface)/config/jackal.rviz"/>
    </group>

    <group if="$(arg with_gazebo)">
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model jackal -param robot_description -x 0 -y 0 -z 1.0" />

        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="debug" value="0" />
            <arg name="gui" value="$(arg gui)" />
            <arg name="use_sim_time" value="$(arg use_sim_time)" />
            <arg name="headless" value="$(arg headless)" />
            <arg name="world_name" value="$(arg world_name)" />
        </include>
    </group>
</launch>