<?xml version="1.0"?>
<launch>
    <arg name="config_filepath" default="$(find jackal_interface)/config/ds4.yaml"/>
    <rosparam command="load" file="$(arg config_filepath)"/>

    <node pkg="joy" type="joy_node" name="joy_node" output="log" respawn="false" respawn_delay="0">
    </node>

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node" output="log" respawn="false" respawn_delay="0">
    </node>
</launch>